{% extends "layout.html" %}
{% block title %}
Reseptikokoelma
{% endblock %}
{% block content %}
<h1>Muokkaa reseptiä</h1>

<form action="/update_recipe/{{ recipe.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>
        Otsikko:<br>
        <input type="text" name="title" value="{{ recipe.title }}" maxlength="50" required>
    </p>

    <p>
        Resepti:<br>
        <textarea name="content" rows="5" cols="40" maxlength="10000" required>{{ recipe.content }}</textarea>
    </p>
    <div>
        <p>Kategoriat:</p>
        <input type="checkbox" name="categories" value="1" {% if 1 in categories %} checked {% endif %}>
        <label>Gluteeniton</label><br>
        <input type="checkbox" name="categories" value="2" {% if 2 in categories %} checked {% endif %}>
        <label>Laktoositon</label><br>
        <input type="checkbox" name="categories" value="3" {% if 3 in categories %} checked {% endif %}>
        <label>Vähälaktoosinen</label><br>
        <input type="checkbox" name="categories" value="4" {% if 4 in categories %} checked {% endif %}>
        <label>Vegaaninen</label><br>
    </div>
    <div>
        <p>Luokka:</p>
        <input type="radio" name="recipe_type" value="1" {% if recipe.type_id==1 %} checked {% endif %} required>
        <label>Alkuruoka</label>
        <input type="radio" name="recipe_type" value="2" {% if recipe.type_id==2 %} checked {% endif %}>
        <label>Pääruoka</label>
        <input type="radio" name="recipe_type" value="3" {% if recipe.type_id==3 %} checked {% endif %}>
        <label>Jälkiruoka</label>
    </div>
    <input type="submit" value="Tallenna muutokset">
</form>
{% endblock %}