<!DOCTYPE html>
<html>
  <body>
    <form action="/createdemodata"><button type="submit">Demoaineisto</button></form>
    <form action="/emptytables"><button type="submit">Tyhjennä data</button></form>
    <h1>Reseptikokoelma</h1>
    <p>Sivua on ladattu {{ visits }} kertaa</p>
    <a href="/login">Kirjaudu sisään</a>
    <p></p>
    <a href="/register">Luo uusi tunnus</a>
    <p></p>
    <h2>Reseptit tietokannassa</h2>
    {% for recipe in recipes %}
    <h3>{{recipe.title}}</h3>
    <p>{{recipe.content}}</p>    
    {% endfor %} 
  </body>
</html>