{% extends "layout.html" %}

{% block title %}Reseptikokoelma{% endblock %}
{% block content %}
<h2>Luo uusi resepti</h2>
<form action="/create_recipe" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <p>
    Otsikko: <br />
    <input type="text" name="title" />
  </p>
  <p>
    Resepti:<br />
    <textarea name="content" rows="5" cols="40"></textarea>
  </p>
  <p>
    Kategoriat:
  </p>
    <input type="checkbox" name="categories" value="1">
    <label>Gluteeniton</label><br>
    <input type="checkbox" name="categories" value="2">
    <label>Laktoositon</label><br>
    <input type="checkbox" name="categories" value="3">
    <label>Vähälaktoosinen</label><br>
    <input type="checkbox" name="categories" value="4">
    <label>Vegaaninen</label><br>
    <input type="submit" value="Tallenna resepti" />
</form>
{% endblock %}