{% extends "layout.html" %}
{% block title %}Reseptikokoelma{% endblock %}
{% block content %}
<h1>{{ recipe.title }}</h1>
<h2>Tekijä: <a href="/show_user/{{ recipe.creator_id }}"> {{ recipe.username }}</a></h2>
<h3>Käyttäjien arviointeja {{ rate_count }}, keskiarvo {{ rate_average }}</h3>
<p class="recipe-content">{{ recipe.content }}</p>

<h2>Ruokalajin tyyppi</h2>
<p> {{ recipe.recipe_type }}</p>
{% if categories %}
<h2>Luokittelut</h2>
<ul>
    {% for category in categories %}
        <li>{{category}}</li>
    {% endfor %}
</ul>
{% endif %}
{% if editable %}
    <div class="recipe-actions">
        <a href="/edit_recipe/{{ recipe.id }}">
            <button>Muokkaa</button>
        </a>
        <form action="/delete_recipe/{{recipe.id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Poista resepti" />
        </form>
    </div>
{% endif %}
{% if rate_available %}
<h2>Arvioi resepti:</h2>
<form action="/rate_recipe" method = "post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <input type="radio" name="rate" value="1" {% if rate == 1 %} checked {% endif %}><label>1</label><br>
    <input type="radio" name="rate" value="2" {% if rate == 2 %} checked {% endif %}><label>2</label><br>
    <input type="radio" name="rate" value="3" {% if rate == 3 %} checked {% endif %}><label>3</label><br>
    <input type="radio" name="rate" value="4" {% if rate == 4 %} checked {% endif %}><label>4</label><br>
    <input type="radio" name="rate" value="5" {% if rate == 5 %} checked {% endif %}><label>5</label><br>
    <input type="submit" value="Tallenna arvio" />
</form>

{% endif %}
{% endblock %}