{% extends "layout.html" %}
{% block title %}Reseptikokoelma{% endblock %}

{% block content %}
<h1>Reseptikokoelma</h1>

<h2>{{ user }}</h2>

<h3>Käyttäjän reseptit</h3>
<p>Reseptejä yhteensä: {{ recipe_count }}</p>
<p>Käyttäjien arviointeja {{ rate_count }}, keskiarvo {{ rate_average }}</p>
{% if recipes %}
  {% for recipe in recipes %}
    <div>
      <h3>{{ recipe.title }}</h3>

    <a href="/recipe/{{ recipe.id }}">Avaa</a>
    </div>
    <hr>
  {% endfor %}
{% else %}
  <p>Käyttäjä ei ole vielä luonut reseptejä.</p>
{% endif %}
{% endblock %}