<!DOCTYPE html>
<html>
  <body>
    <h1>Reseptikokoelma</h1>

    <h2>Olet kirjautunut sisään käyttäjätunnuksella</h2>
    <p>{{ username }}</p>
    <p><a href="/">Etusivu</a></p>

    <p>
      <a href="/new_recipe">Luo uusi resepti</a>
    </p>

    <h2>Omat reseptit</h2>

    {% if recipes %}
      {% for recipe in recipes %}
        <div>
          <h3>{{ recipe.title }}</h3>

        <a href="/recipe/{{ recipe.id }}">Avaa</a>

          <a href="/edit_recipe/{{ recipe.id }}">
            <button>Muokkaa</button>
          </a>

           <a href ="delete_recipe/{{recipe.id }}">
            <button>Poista</button>
          </a>
        </div>
        <hr>
      {% endfor %}
    {% else %}
      <p>Et ole vielä luonut reseptejä.</p>
    {% endif %}

    <p><a href="/logout">Kirjaudu ulos</a></p>

  </body>
</html>