{% extends "layout.html" %}

{% block title %}Reseptikokoelma{% endblock %}

{% block content %}
<h1>Reseptikokoelma</h1>

<h2>Olet kirjautunut sisään käyttäjätunnuksella</h2>
<p>{{ username }}</p>
<p>Reseptejä yhteensä {{ recipe_count }} kpl</p>
<p>Reseptejäsi on arvioitu yhteensä {{ rate_count }} kertaa</p>
<p>Arviointien keskiarvo {{ rate_average }}</p>
<p><a href="/">Etusivu</a></p>

<p>
  <a href="/new_recipe">Luo uusi resepti</a>
</p>

<h2>Omat reseptit</h2>

{% if recipes %}
  {% for recipe in recipes %}
  <h3>{{ recipe.title }}</h3>  
  <div class="recipe-actions">
      
    <a href="/recipe/{{ recipe.id }}">
      <button>Avaa</button>
    </a>
    <a href="/edit_recipe/{{ recipe.id }}">
      <button>Muokkaa</button>
    </a>
      <form action="/delete_recipe/{{recipe.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Poista resepti" />
      </form>
    </div>
    <hr>
  {% endfor %}
{% else %}
  <p>Et ole vielä luonut reseptejä.</p>
{% endif %}

<p><a href="/logout">Kirjaudu ulos</a></p>
{% endblock %}